@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Sansita+Swashed:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: rgba(16, 16, 16, 1); 
    min-height: 100vh;
    
}

/* Header and logo */

header {
    background: #fff;
    display: block;
    width: 100%;
    height: 80px;
}

h1, h2 {
    font-family: 'Sansita Swashed', sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #252525;
}



.logo {
    float: left;
    font-size: 350%;
    margin-left: 30px;
}


/* Navigation links */

.menu {
    font-size: 200%;
    letter-spacing: 2px;
}

.menu, .logo {
    line-height: 80px;
}

ul {
    float: right;
}

.menu li {
    float: left;
    list-style-type: none;
    margin-right: 40px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

/* mouse over link */
.menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    color: rgba(93, 128, 75, 1.00);
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero Image and Text*/

.hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/Art-in-other-languages.webp') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    
}

.hero-text  {
    color: rgba(16, 16, 16, 1);
    font-size: 30px;
    font-family: Inter, sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    

    width: 700px;
    height: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 30px;
    border: 1px solid #3a3a3a;
}

.hero-text p {
    text-align: center;
}

/* Information About the Event */

.introduction {
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    width: 80%;
    padding: 10px;
    text-align: center;
    margin: 50px auto;
    font-size: 150%;
    color: rgba(16, 16, 16, 1);
    clear: both;
}

.information {
    height: 600px;
}

.welcome {
    font-size: 200%;
    width: 70%;
    margin: 0 auto; 
    color: rgba(93, 128, 75, 1.00);
    padding-top: 20px;
    
}

.left-about {
    color: rgba(16, 16, 16, 1);
    font-size: 25px;
    padding-top: 30px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
    margin-right: 30px; 
    text-align: justify;
}

.right-about {
    color: rgba(16, 16, 16, 1);
    font-size: 25px;
    padding-top: 30px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px; 
}

.container {
    width: 800px;
    height: 400px;
    padding: 30px;
    float: left;
    background: url(../images/canvas\ set\ up.webp) no-repeat center center;
    margin-left: 60px;
}

/* Book Now feature on Home Page */

.book-now a {
    border: 1px solid rgba(93, 128, 75, 1.00);
    border-radius: 5px;
    text-transform: uppercase;
    background-color: rgba(93, 128, 75, 1.00);
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    text-align: center;

    display: block; 
    margin: 0 auto;
    text-align: center;
    width: fit-content; 

    
  }

  /* Footer */

  footer {
    height: 150px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-top: 1px solid #fff; 
    margin-top: 30px;
    background-color: rgba(93, 128, 75, 1.00);
  }
  
  .social-networks {
    text-align: center;
  }
  
  .social-networks > li {
    display: inline-block;
    margin: 50px;
  }
  
  .social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: #fff;
  }  

  /* Gallery */

  .img-container {
    clear: both;
    line-height: 5;
    column-count: 3;
    column-gap: 10px;
    vertical-align: middle;
    margin: 10px;
  }
  
  .img-container > img {
    width: 100%;
    
    
  }
  
  .img-container img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
  }