@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Sansita+Swashed:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    
}

/* Header and logo */

h1, h2 {
    font-family: 'Sansita Swashed', sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #252525;
}

.logo {
    float: left;
    font-size: 350%;
}


/* Navigation links */

.menu {
    font-size: 200%;
    letter-spacing: 2px;
}

.menu, .logo {
    line-height: 80px;
}

ul {
    float: right;
}

.menu li {
    float: left;
    list-style-type: none;
    margin-right: 40px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero Image and Text*/

.hero-image {
    height: 600px;
    width: 100vw;
    background: url('../images/Art-in-other-languages.webp') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.hero-text  {
    color: rgba(16, 16, 16, 1);
    font-size: 30px;
    font-family: Inter, sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    

    width: 700px;
    height: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 30px;
    border: 1px solid #3a3a3a;
}

.hero-text p {
    text-align: center;
}

/* Information About the Event */

.introduction {
    border: 3px solid;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: 30px auto;
    font-size: 150%;
    background-color: blanchedalmond;
  }

  

