@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Sansita+Swashed:wght@500&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: rgba(16, 16, 16, 1); 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
/* Header and logo */
header {
    background: #fff;
    text-align: center;
    z-index: 999;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    border-bottom: 2px solid #252525;
}
h1, h2 {
    font-family: 'Sansita Swashed', sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #252525;
}
a {
    text-decoration: none;
}
.logo {
    font-size: 70px;
}
/* Navigation links */
.menu {
    display: flex;
    width: 100%;
    font-size: 40px;
    letter-spacing: 2px;
}
.menu, .logo {
    line-height: 80px;
}
.menu li {
    list-style-type: none;
    margin-right: 40px;
}
.menu a {
    text-decoration: none;
    color: inherit;
}
/* mouse over link */
.menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    color: rgba(93, 128, 75, 1.00);
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
/* Hero Image and Text*/
.hero-image {
    height: 600px;
    width: 100vw;
    background-image: url('../images/Art-in-other-languages.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.hero-text  {
    color: rgba(16, 16, 16, 1);
    font-size: 30px;
    font-family: Inter, sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    width: 700px;
    padding: 2em 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 30px;
    border: 1px solid #3a3a3a;
}
.hero-text p {
    text-align: center;
}
/* Information About the Event */
.introduction {
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    width: 80%;
    padding: 10px;
    text-align: center;
    margin: 50px auto;
    font-size: 30px;
    color: rgba(16, 16, 16, 1);
    clear: both;
}
.information {
    height: 600px;
}
.welcome {
    font-size: 40px;
    width: 70%;
    margin: 0 auto; 
    color: rgba(93, 128, 75, 1.00);
    padding-top: 20px;
}
.left-about {
    color: rgba(16, 16, 16, 1);
    font-size: 25px;
    padding-top: 30px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
    margin-right: 30px; 
    text-align: justify;
}
.right-about {
    color: rgba(16, 16, 16, 1);
    font-size: 25px;
    padding-top: 30px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px; 
}
.container {
    width: 800px;
    height: 400px;
    padding: 30px;
    background: url(../images/canvas-set-up.webp) no-repeat center center;
    margin-left: 60px;
}
/* Book Now feature on Home Page */
.book-now a {
    border: 1px solid rgba(93, 128, 75, 1.00);
    border-radius: 5px;
    text-transform: uppercase;
    background-color: rgba(93, 128, 75, 1.00);
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    display: block; 
    margin: 0 auto;
    text-align: center;
    width: fit-content; 
    margin-bottom: 20px;
  }
  /* Gallery */
  .img-container {
    clear: both;
    line-height: 5;
    column-count: 2;
    column-gap: 10px;
    vertical-align: middle;
    margin: 20px;
    margin-bottom: 0px;
  }
  .img-container > img {
    width: 100%;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  }
  .img-container img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
  }
  /* Bookings */
  label, input {
    font-size: 20px;
  }
  .form {
    width: 100%;
    height: 100%;
    background-image: url(../images/top-view-paint-brush-corner_23-2147961441.jpg);
    background-size: cover;
    background-position: center;
  }
 .booking-heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
 }
  .form-section {
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-form {
    position: relative;
    max-width: 500px;
    padding: 4rem;
    width: 100%;
    height: 100%;
    border: 1px solid #3a3a3a;
    box-shadow: 0 4rem 5rem rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    background-color: rgba(93, 128, 75, .2);
  } 
  .text-input {
    width: 100%;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
    letter-spacing: 0.2rem;
    background: rgba(255, 255, 255, 0.72);
  }
.date-input {
    width: 100%;
    height: 25px;
    margin: 10px 0 20px 0;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.72);
}
.booking-button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: rgba(93, 128, 75, 1.00);
    color: #fafafa;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}
/*Response Page*/
.response {
    width: 100%;
    height: 100%;
     background-image: url(../images/top-view-paint-brush-corner_23-2147961441.jpg);
    background-size: cover;
    background-position: center;
}
.response-page {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.response-text {
    border: 3px solid #252525;
}
.response-text p {
    margin: 3rem;
    font-size: 2rem;
}
/*Events*/
.event-times {
    display: flex;
    padding: 5rem 1rem;
    flex-direction: column;
    padding: 2rem 1rem 1rem 2rem;
    

}
.event-times .event-times-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 3rem;

}
.event-times .event-all {
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-image {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.event-image img {
    width: 300px;
    height: 300px;
    border: 1px solid #252525;
    object-fit: cover;

}
.event-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.event-1,  .event-2, .event-3, .event-4 {
    border: 1px solid #252525;
    padding: 1rem;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(93, 128, 75, 0.2);
}
 /* Footer */
    footer {
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-top: 1px solid #fff; 
    background-color: rgba(93, 128, 75, 1.00);
    width: 100%;
  }
  .social-networks {
    text-align: center;
  }
  .social-networks > li {
    display: inline-block;
    padding: 50px;
  }
  .social-networks i {
    font-size: 50px;
    margin: 1%;
    padding: 5%;
    color: #fff;
  }  
/* mouse over link */
.social-networks li:hover {
    cursor: pointer;
    scale: 1.2;
}